NODE_ENV=development
DATABASE_URL=
PORT=5000

SALT_ROUND=10
JWT_ACCESS_SECRET=e9f3fd12e521b4b7499f92f3d7fff142c4f2e37312cada49b5b3826a35edc8eb79c5c2a0dcf1e82c869203a29362aae1188e571
JWT_REFRESH_SECRET=8f4e1c3b9f4d2e6a7b8c9d0e1f2a3b4c5d6e7f8091a2b3c4d5e6f708192a3b4c5d6e7f8091a2b3c4d5e6f708192a3b4c5
EXPIRES_IN=1d
REFRESH_TOKEN_EXPIRES_IN=7d
EMAIL=example@gmail.com
APP_PASS=afdf afds afdd adfd
RESET_PASS_LINK=http://localhost:3000/reset-password
RESET_PASS_TOKEN=asdfasdfasdf
RESET_PASS_TOKEN_EXPIRES_IN=5m

#-- Cloudinary ---
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
